<div class="form-container">
  <h2>Enter The Url</h2>
    <%= form_with name: @original_url, id: @url, url: shortened_urls_create_path, method: :post do |form| %>
    <%= form.text_field :original_url %>
    <%= form.submit 'Shortened URL' %>
<% end %>
</div>

<div class='form-container'>
  <h3>Your Original Url is: <%= @original_url %></h3>
  <h3>Your Shortened Url is: <%= @short_url %></h3>
</div>